body {
    margin: 0;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    touch-action: none;
}
#game-container { position: relative; width: 100%; height: 100%; display: flex; justify-content: center; }
#scoreBoard {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-family: 'Arial Black', sans-serif;
    font-size: 28px;
    text-shadow: 3px 3px 0px #000;
    z-index: 10;
}
canvas {
    background: #87ceeb;
    height: 100vh;
    width: auto;
    aspect-ratio: 9 / 16;
    image-rendering: pixelated; /* Retro görünüm için netleştirir */
}
